

// Colors




// Fonts




// Grid

$grid-max-width: 1320px;
$grid-side-margin: 40px;
$grid-tablet-side-margin: 20px;
$grid-mobile-side-margin: 10px;
$grid-gutter: 10px;
$grid-tablet-gutter: 10px;
$grid-mobile-gutter: 5px;


// Breakpoints

$mobile-small: 320px;
$mobile: 480px;
$tablet-small: 768px;
$tablet: 1024px;
$desktop-small: 1200px;